* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg_image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app {
    background-color: #006774;
    padding: 3%;
    border-radius: 15px;
    text-align: center;
    box-shadow: 12px 12px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
    color: #C5D9D7;
    margin-bottom: 20px;
}

#resultContainer { 
    padding: 3%;
    border-radius: 15px;
    background-color: #004F59;
    width: 90%;
    max-width: 500px;
    text-align: center; 
    color: #C5D9D7;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    display: none; 
}

#heading {
    font-size: 1.8rem;
    color: #C5D9D7;
    margin-bottom: 15px;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    background-color: #C5D9D7;
    color: #004F59;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00aaff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #007acc;
}

#weatherResult {
    margin-top: 10px;
    line-height: 1.6em; 
    font-size: 1.1rem;
    color: #C5D9D7;
    line-height: 2em;
}

@media (min-width: 768px) {
    #app, #resultContainer {
        width: 60%;
    }

    #heading {
        font-size: 2rem;
    }

    button {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    #app, #resultContainer {
        width: 40%;
    }
}
